<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
   <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample Application</h1>
    <h2>
     There will be some cool stuff here, including a sweet picture of sorts. 
     Click on the rails png below to get more info on ruby on rails. 
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                :class => "btn btn-large btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", :alt => "Rails"), 'http://rubyonrails.org/' %>
<% end %> 